# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
go-reloaded

# Test binary
*.test

# Output coverage
*.out
*.prof
coverage.out
coverage.html

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Output files
result.txt
output.txt
output*.txt
*_output.txt

# Checkpoint files
*.checkpoint

# Test outputs
stress_output.txt
